---
network:
    version: 2
    renderer: networkd
    ethernets:
        '{{ network_interface }}':
            dhcp4: false
            addresses:
                - '{{ network_ip_device }}{{ network_cidr }}'
            routes:
                - to: default
                  via: '{{ network_ip_gateway }}'
            nameservers:
                addresses:
                    - 127.0.0.1
