---
network:
    version: 2
    renderer: networkd
    ethernets:
        '{{ device_interface }}':
            dhcp4: false
            addresses:
                - '{{ device_ip }}{{ network_cidr }}'
            routes:
                - to: default
                  via: '{{ gateway_ip }}'
            nameservers:
                addresses:
                    - 127.0.0.1
