---
- name: '-'
  hosts: all
  gather_facts: false
  become_method: sudo

  vars:
    device_timezone: Europe/Amsterdam
    pihole_password: finch

  pre_tasks:
    - name: 'Connect to host & retrieve facts'
      ansible.builtin.setup:
        gather_subset:
          - '!all'
          - 'network'

  roles:
    - role: GITHUB.UPDATE.ROLE
    - role: GITHUB.DOCKER.ROLE

  tasks:
    - import_tasks: tasks/1_stub-resolver.yml # used for pi-hole on ubuntu
    - import_tasks: tasks/2_docker.yml
